<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ehab.module">

    <application
        android:label="BVR Module"
        android:icon="@mipmap/ic_launcher">

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>

        <meta-data
            android:name="xposeddescription"
            android:value="BVR Power Module"/>

        <meta-data
            android:name="xposedminversion"
            android:value="82"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ActionPickerActivity"/>

    </application>

</manifest>
